<tr>
  <td><%= room_counter + 1 + @index%></td>
  <td><%= room.name %></td>
  <td><%= room.price %></td>
  <td><%= room.room_type_name %></td>
  <td class="text-primary">
    edit | delete
  </td>
</tr>
