<section class="banner-area relative" style="height: 1029px;">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-between">
      <div class="main">
        <%= render "users/form"%>
      </div>
    </div>
  </div>
</section>
