<% if object.errors[attr].any? %>
  <div id="error_explanation">
    <div class="alert alert-danger error_div">
    <%= t("#{attr}") %>
    <%= object.errors[attr].first %>
  </div>
  </div>
<% end %>
